<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">

<head>
    <meta name="robots" content="noindex, nofollow">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <title>{{page.meta_title}}</title>

    <meta name="description" content="This page is called {{page.title}}">

    <link rel="apple-touch-icon" sizes="76x76" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./css/uikit-theme.min.css" />
    <link rel="stylesheet" href="./css/main.min.css" />
</head>

<body>

    <header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
        <nav class="uk-navbar-container uk-navbar uk-navbar-transparent" data-uk-navbar>

            <div class="uk-navbar-left uk-flex-bottom">
                <a href="./" class="uk-logo">
                    <img src="{{logo}}" alt="{{nb.siteName}} Logo">
                </a>
            </div>

            {{#if menu}}
            <div class="uk-width-expand">
                <div class="contact contact-desk uk-flex uk-flex-right">
                    <a class="uk-display-block uk-position-relative uk-margin-small-right" href="#" aria-label="Visit our Twitter page">
                        {{> renderIcon name="twitter" class="uk-position-center"}}
                    </a>
                    <a class="uk-display-block uk-position-relative uk-margin-right" href="#" aria-label="Visit our Linkedin page">
                        {{> renderIcon name="linkedin" class="uk-position-center"}}
                    </a>
                    {{> ukButton link="#" pull="left" icon="member" label="Become a member" style="primary" class="uk-button-small"}}
                </div>
                <div class="uk-navbar-left">
                    <a href="#nav" class="uk-navbar-toggle" data-uk-toggle="animation: uk-animation-slide-right;"
                        aria-label="Toggle Navigation" hidden>
                        <span role="presentation"></span>
                    </a>                    
                    <div id="nav">
                        {{> renderNavigation}}
                    </div>
                </div>
            </div>
            {{/if}}

        </nav>
    </header>

    <main class="uk-margin-bottom">

        {{#if page.banner}}
        {{> banner}}
        {{else}}
        {{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
        {{#*inline "out"}}
        <h1>{{page.h1}}</h1>
        {{> ukBreadcrumb}}
        {{/inline}}
        {{/ukContainer}}
        {{/if}}

        {{#> main}}{{/main}}

    </main>

    <footer class="footer">
        <div class="footer-top margin-bottom">
            {{#> ukContainer size="large" class="uk-text-center"}}
            {{#*inline "out"}}
                <div class="uk-flex uk-flex-between">
                    <div class="uk-text-left uk-width-3-5@m">
                        <p class="uk-text-bold">Take advantage of commercial, innovation and economic opportunities within the Blue Economy Cluster Builder comunity</p>
                        <div class="uk-flex contact">
                            {{> ukButton link="#" pull="left" icon="arrow-right-solid" label="Contact us" class="alt" style="primary"}}
                            {{> ukButton link="#" pull="left" icon="member" label="Become a member" style="primary"}}
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-column uk-flex-right connect">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-text-bold">Let’s connect</span>
                            <ul class="uk-list uk-flex uk-padding-remove">
                                <li class="uk-margin-small-left">
                                    <a class="uk-background-primary uk-border-circle uk-display-block uk-position-relative" href="#" aria-label="Visit our Twitter page">
                                        {{> renderIcon name="twitter" class="uk-position-center"}}
                                    </a>
                                </li>
                                <li class="uk-margin-remove-top uk-margin-small-left">
                                    <a class="uk-background-primary uk-border-circle uk-display-block uk-position-relative" href="#" aria-label="Visit our Linkedin page">
                                        {{> renderIcon name="linkedin" class="uk-position-center"}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-flex uk-flex-column uk-flex-top">
                            <div class="uk-margin-small-bottom">
                                {{> ukButton link="tel:+4401234567891" pull="left" icon="phone" label="+44 (0) 1234 567891" style="text" class="uk-button-small"}}                  
                            </div>
                            <div>
                                {{> ukButton link="mailto:jennifer.fox@aquatera.co.uk" pull="left" icon="email" label="jennifer.fox@aquatera.co.uk" style="text" class="uk-button-small"}}   
                            </div>
                        </div>
                    </div>
                </div>
            {{/inline}}
            {{/ukContainer}}      
        </div>  
        <div class="footer-bottom uk-text-center">

            <div class="uk-flex uk-flex-between uk-flex-middle">
                <div class="uk-flex uk-flex-middle">
                    <a href="#"><img class="logo" src="./img/footer-logo.png" loading="lazy" width="257" height="58" alt="image"></a>
                    <div class="copyright">Copyright &copy; {{year}} {{nb.clientName}}. All rights reserved.</div>
                </div>

                <div class="uk-flex uk-flex-middle uk-flex-between uk-flex-wrap">
                    {{#if legal}}
                    <div class="legal uk-flex uk-flex-wrap">
                        <ul>
                            {{#each legal}}
                            <li>
                                <a href="#">{{this}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                    <div class="watermark">Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener"
                        href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png"
                            alt="NB Communication Ltd Logo" loading="lazy"></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script src="./js/uikit.min.js"></script>
    <script src="./js/nbkit.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>