<ul class="uk-navbar-nav" data-uk-nb-nav="back: Back">
{{#each menu}}
	{{#with this}}
	<li class="{{#if children}}uk-parent{{/if}}{{#if (eq ../page.name name)}} uk-active{{/if}}">
		<a href="{{default url "#"}}">{{title}}</a>
		{{#if children}}
		<ul class="uk-nav" id="nav-{{ida title}}">
		{{#each children}}
			{{#with this}}
			<li>
				<a href="{{default url "#"}}">{{title}}</a>
			</li>
			{{/with}}
		{{/each}}
		</ul>
		{{/if}}
	</li>
	{{/with}}
{{/each}}
</ul>
<div class="contact contact-mob uk-margin-medium-top uk-position-relative">
    <div class="uk-flex uk-flex-wrap">
        <a class="uk-display-block uk-border-circle uk-position-relative" href="#" aria-label="Visit our Twitter page">
            {{> renderIcon name="twitter" class="uk-position-center"}}
        </a>             
        <a class="uk-display-block uk-border-circle uk-position-relative" href="#" aria-label="Visit our Linkedin page">
            {{> renderIcon name="linkedin" class="uk-position-center"}}
        </a> 
    </div>
    <div class="uk-flex uk-flex-center">
        {{> ukButton link="#" pull="left" icon="member" label="Become a member" style="primary" class="uk-display-block alt"}}
    </div>
</div>
